<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditJobServlet</servlet-name>
        <servlet-class>servlets.EditJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailRegion</servlet-name>
        <servlet-class>servlets.DetailRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCountry</servlet-name>
        <servlet-class>servlets.EditCountry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/newServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditJobServlet</servlet-name>
        <url-pattern>/editJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailRegion</servlet-name>
        <url-pattern>/detailRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCountry</servlet-name>
        <url-pattern>/editCountry</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
